*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    
  
}
:root{
    --primary-color:rgb(13, 115, 211);
    --background-body:rgb(39, 38, 38);
    --background-search:rgb(27, 26, 26);
    --backgroung-footer:rgb(48, 46, 46);
    --nav-text-color: whitesmoke;
    --card-color: rgb(65, 63, 63);
    --paragraph-color: rgb(207, 204, 204);
    --color-white: white;
}


/* general*/
body{
    background-color: var(--background-body);
    padding:0  40px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px 30px 10px;
    
}

h1,h2,h3,footer p span{
    color: var(--primary-color);
}

nav #search{
  
   display: flex;
    justify-content: space-between;
    background-color: var(--background-search);
    border-radius: 30px;
    width: 500px;
    box-shadow: rgba(13, 115, 211, 0.4) 0px 0px 20px, rgba(13, 115, 211, 0.19) 0px 0px 20px;
}

nav #search:hover{
    box-shadow: rgba(13, 115, 211, 0.5) 0px 0px 20px, rgba(13, 115, 211, 0.4) 0px 0px 20px;
    transition: 0.7;
}

nav #search input{
    outline: none;
    border: none;
    background-color: transparent;
    margin-left: 15px;
    width: 85%;
   color: var(--nav-text-color);
}

nav #search div{
    background-color: rgba(44, 42, 42,0.4);
    margin-left: 0;
    width: 50px;
    border-top-right-radius:30px ;
    border-bottom-right-radius:30px ;
    padding: 10px;
    text-align: center;
   height: 100%;
}

nav #search div img{
    width: 20px;
    cursor: pointer;
    margin-top: 2px;
}
nav ul{
    list-style: none;
     padding: 10px; 
   
}

nav ul a{
    display: inline-block;
    margin-left: 40px;
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
   
} 
nav ul a:hover{
    background-color: var(--primary-color);
    border-radius: 10px;
    transition: 0.8s;

}  


footer{
    display: flex;
    align-items: center ;
    justify-content: space-between;

    background-color: var(--backgroung-footer);
    padding: 10px;
   margin-top: 40px;
}


footer p {
    color: var(--paragraph-color);
}

footer #social-midia a img{
    width: 30px;
}
footer #social-midia a img:hover{
    width: 40px;
    transition: 0.3s;

}



/* index*/

.slider{
    margin:0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;

}
.slides input{
    display: none;
}


.slide{
    width: 25%;
    position: relative;
    transition: 2s;
    
}


.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}

.manual-btn{
    border:2px solid var(--color-white);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;

}

.manual-btn:hover{
    background-color: var(--color-white); 
}


#radio1:checked ~.first{
    margin-left: 0;
    

}

#radio2:checked ~.first{
    margin-left: -25%;
    
    
}
#radio3:checked ~.first{
    margin-left: -50%;
    
}
#radio4:checked ~.first{
    margin-left: -75%;
    
    
}


.navigation-auto div{
    border: 2px solid var(--primary-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transform: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
   
    margin-top: 360px;
    display: flex;
    justify-content: center;

}

.navigation-auto div:not(:last-child){
    margin-right: 40px;

}


#radio1:checked ~.navigation-auto .auto-btn1{
    background-color: var(--color-white);

}
#radio2:checked ~.navigation-auto .auto-btn2{
    background-color: var(--color-white);

}
#radio3:checked ~.navigation-auto .auto-btn3{
    background-color: var(--color-white);

}
#radio4:checked ~.navigation-auto .auto-btn4{
    background-color: var(--color-white);

}main header p{
    color: var(--paragraph-color);
    text-align: justify;

}

main header{
    margin: 20px 0;
}



#section-cakes{
    overflow: hidden;
    width: 100%;
    -webkit-mask:linear-gradient(90deg,transparent,var(--color-white) 10%,var(--color-white) 90%,transparent) ;
  }
  #section-cakes #container-cards{
      
      display:flex;
      flex-flow: row nowrap;
      gap: 20px;
      animation: scroll-card 20s linear infinite;
  
  }
  @keyframes scroll-card{
      to {
          transform: translate(-100%)
      }
  }
  
  #section-cakes #container-cards a {
    text-decoration: none;
    
  }
  
  #section-cakes #container-cards a .card{
      
      height: 400px;
      width: 300px;
      background-color: var(--card-color);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0, 0, 0.19);
      border-radius: 10px;
      padding: 10px; 
  }
  
  #section-cakes #container-cards a .card h2{
      position: relative;
      bottom: 60px;
      text-align: center;
      display: none;
      color: var();
      
  
  }
  #section-cakes #container-cards a .card:hover h2{
      display: block;
      

  }
  
  #section-cakes #container-cards a .card img{
      width: 280px;
      height: 380px;
      object-fit: cover;
      
  }




/* recibe*/
header h1{
    text-align: center;
}


main #imagem{

    display: flex;
    align-items: center;
    justify-content: center;
}
main #imagem img{
    width: 900px;
    height: 500px;
    object-fit: cover;
  
}

main #description{
   
}

main #lists{
    margin: 20px 0;
    display: flex;
  
    justify-content:center;
    background-color:rgba(54, 53, 53, 0.5) ;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: auto;
   

}

main #lists div:last-child{
   flex: 30%;

}

main #lists div ul,main #lists div ol{
    margin-left: 30px;
    color:var(--paragraph-color);
    text-align: justify;

}

main #lists li {
    margin-bottom: 10px;
}



main #tutorial-video {
    display: flex;
    justify-content: center;
}



main #tutorial-video  iframe{
    width: 900px;
    height: 500px;
    
}


